#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Score Counter */
.score-counter {
    position: fixed;
    top: 20px;
    left: 20px;

    background: rgba(70, 140, 255, 0.25);
backdrop-filter: blur(6px);
color: #ffffff;

    padding: 10px 18px;
    border-radius: 8px;

    font-size: 1.2rem;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
